/* .homeScreenContainer {
    margin: "0 !important";
    padding: "10px !important";
    display: "flex";
  }
.actionsContainer {
    margin: 30px 0 130px 0;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    display: flex;
  }

.heroImage {

    width: 340px;
    margin-top: 50px;
    @media (max-width: 400px) {
      max-width: 100%;
      min-width: 100%;
      width: 100%;
    }
}


.innerContainer {
    border-radius: 8px;
    width: 591px;
    margin: 45px auto 0 auto;
    min-width: 591px;
    @media (max-width: 900px) {
      max-width: 100%;
      min-width: 100%;
      width: 100%;
    }
  }

.p {
    font-weight: 550;
    font: 18px;
    color: grey;
    line-height: 30px;
    text-align: center;
    margin-top: 32px;
  } */

.homeContainer {
  max-width: 450px;
  margin: 0 auto;
  border-radius: 4px;
  border: 1px solid #4a4a4a;
  /* background-color: #fff ; */
  margin-top: 80px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.formContainer {
  padding: 20px;
}

.heading {
  font-size: 24px;
  background: #00ff00;
  background: -webkit-linear-gradient(to left, #00ff00 0%, #00ffff 100%);
  background: -moz-linear-gradient(to left, #00ff00 0%, #00ffff 100%);
  background: linear-gradient(to left, #00ff00 0%, #00ffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: 600;
}

.subHeading {
  font-size: 16px;
  text-align: center;
}

.inputContainer {
  /* display: flex;
  align-items: center;
  justify-content: center;
  gap:20px */
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.selectGroup {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .btn {
  margin-top: 20px;
} */

.btn {
  background-image: linear-gradient(to right, #1d976c 0%, #93f9b9 51%, #1d976c 100%);
 
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.helperText {
  font-size: 16px;
}

.successContainer {
  width: 600px;
  margin: 0 auto;
  border-radius: 4px;
  border: 1px solid #4a4a4a;
  /* background-color: #fff ; */
  margin-top: 80px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.copyContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.goBack {
  margin-top: 20px;
}
 .input{
    width: 400px;
    cursor: pointer;
  }

@media screen and (max-width: 600px) {
  .successContainer {
    width: 100%; /* Set width to 100% for smaller screens */
   
  }

  .copyContainer{
    flex-direction: column;
  }

  .input{
    width: 100%;
    cursor: pointer;
  }

  .btn{
    width: 100%;
  }
}