

.homeContainer {
  max-width: 500px;
  margin: 0 auto;
  border-radius: 4px;
  border: 1px solid #4a4a4a;
  background-color: #fff d;
  margin-top:80px;
  /* box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05); */
}

.formContainer{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading{
  text-align: center;
  background: #00FF00;
background: -webkit-linear-gradient(to left, #00FF00 0%, #00FFFF 100%);
background: -moz-linear-gradient(to left, #00FF00 0%, #00FFFF 100%);
background: linear-gradient(to left, #00FF00 0%, #00FFFF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


.btn {
  background-image: linear-gradient(to right, #1d976c 0%, #93f9b9 51%, #1d976c 100%);
  margin-top: 20px;

  transition: 0.5s;
  background-size: 200% auto;
  color: white;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}